@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
