.principal {
  &__container {
    @include flex-column;
    width: 90%;
    margin: 1rem auto;

    &-title {
      width: 100%;
      text-align: center;
      height: 7rem;
    }
    &-cards {
      @include flex-row;
      flex-wrap: wrap;
    }
  }

  &__title {
    font-family: "suprema-regular";
    color: $black-dark-1;
    font-size: 5rem;
  }

  &__card-item {
    height: 20rem;
    width: 20rem;
    border-radius: 2rem;
    background-color: $white-1;
    margin: 2rem;
    position: relative;

    &-p {
      font-family: "suprema-regular";
      color: $white-1;
      font-size: 1.8rem;
      width: 75%;
      text-align: center;
    }
  }
  &__card-img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    &-meals {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 2rem;
    }
  }

  &__card-item-back {
    width: 20rem;
    height: 0rem;
    border-radius: 2rem;
    background-color: rgba($green-light-1, .9);
    position: absolute;
    bottom: 0;
    transition: 0.6s;
    opacity: 0;
    @include flex-row;
    cursor: pointer;
  }
  &__card-item:hover &__card-item-back {
    height: 20rem;
    opacity: 1;
  }
}
