@font-face {
  font-family: 'suprema-regular';
  src: url(../../src/fonts/suprema/0c8b7aaa-bf31-432c-9f2a-a9c16ffa7ca5.ttf);
}


@font-face {
  font-family: 'suprema-light';
  src: url(../../src/fonts/suprema/40f26d3b-c25f-4417-8c02-2e043d52fa23.ttf);
}
