/* principal colors*/
/* fonts color */
/* background color */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translatey(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@font-face {
  font-family: 'suprema-regular';
  src: url(../../src/fonts/suprema/0c8b7aaa-bf31-432c-9f2a-a9c16ffa7ca5.ttf); }

@font-face {
  font-family: 'suprema-light';
  src: url(../../src/fonts/suprema/40f26d3b-c25f-4417-8c02-2e043d52fa23.ttf); }

.navbar__navbar {
  background-color: #5bd988;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 0px 0px 20px 20px; }

.navbar__container-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%; }

.navbar__container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.navbar__container-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 23%; }

.navbar__icon {
  width: 4.5rem;
  height: 4.5rem; }

.navbar__item-navbar {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "suprema-regular";
  font-size: 1.5rem;
  cursor: pointer; }

.principal__back-icon {
  color: #50BF77;
  position: absolute;
  left: 0;
  font-size: 70px;
  top: -20px;
  cursor: pointer; }

.principal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 1rem auto; }
  .principal__container-title {
    width: 100%;
    text-align: center;
    height: 7rem;
    position: relative; }
  .principal__container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; }

.principal__title {
  font-family: 'suprema-regular';
  color: #302F2E;
  font-size: 5rem; }

.principal__card-item {
  height: 20rem;
  width: 20rem;
  border-radius: 2rem;
  background-color: #FFFFFF;
  margin: 2rem;
  position: relative; }
  .principal__card-item-p {
    font-family: 'suprema-regular';
    color: #FFFFFF;
    font-size: 1.8rem;
    width: 75%;
    text-align: center; }

.principal__card-img {
  width: 20rem;
  height: 20rem;
  object-fit: contain; }
  .principal__card-img-meals {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 2rem; }

.principal__card-item-back {
  width: 20rem;
  height: 0rem;
  border-radius: 2rem;
  background-color: rgba(80, 191, 119, 0.9);
  position: absolute;
  bottom: 0;
  transition: 0.6s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer; }

.principal__card-item:hover .principal__card-item-back {
  height: 20rem;
  opacity: 1; }

.principal__meal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1%;
  overflow: auto;
  background-color: #50BF77;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  .principal__meal-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    transition: all 0.2s; }
  .principal__meal-close {
    position: absolute;
    top: -5px;
    right: 2rem;
    font-size: 5rem;
    color: #FFFFFF;
    cursor: pointer; }
  .principal__meal-detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 30rem;
    height: 85%;
    background-color: #FFFBF5;
    border-radius: 10px;
    margin: 0 1.5rem;
    box-shadow: 0px 8px 25px rgba(48, 47, 46, 0.15); }
    .principal__meal-detail-img {
      height: 30rem;
      width: 30rem;
      object-fit: cover;
      border-radius: 10px 10px 0 0; }
    .principal__meal-detail-box {
      padding: 2rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column; }
    .principal__meal-detail-title {
      font-family: 'suprema-regular';
      font-size: 1.5rem;
      color: #50BF77;
      margin: 0.6rem 0; }
      .principal__meal-detail-title-light {
        font-family: 'suprema-light';
        font-size: 1.5rem;
        color: #302F2E; }
  .principal__meal-instructions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 98rem;
    height: 85%;
    background-color: #FFFBF5;
    border-radius: 10px;
    margin: 0 1.5rem;
    padding: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 8px 25px rgba(48, 47, 46, 0.15); }
    .principal__meal-instructions-title {
      color: #50BF77;
      font-family: 'suprema-light';
      font-size: 3.7rem; }
    .principal__meal-instructions-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      margin: 2rem 0; }
    .principal__meal-instructions-description {
      width: 100%; }
    .principal__meal-instructions-p {
      font-family: 'suprema-light';
      color: #302F2E;
      font-size: 1.4rem; }
    .principal__meal-instructions-ingredients, .principal__meal-instructions-measure {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%; }
    .principal__meal-instructions-meal-title {
      font-family: 'suprema-regular';
      font-size: 2rem;
      color: #50BF77; }
    .principal__meal-instructions-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      font-family: 'suprema-light';
      font-size: 1.4rem;
      color: #302F2E;
      height: 15rem; }
      .principal__meal-instructions-list > li {
        margin: 0.5rem 1rem;
        list-style: none; }

.shadow {
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15); }

.hidden {
  display: none; }

.show {
  display: block !important; }

.loader__div {
  display: none; }

.houdini {
  animation: moveInBottom ease 1.2s; }

.fadeIn {
  animation: fadeIn ease 0.6s; }

.fadeOut {
  animation: fadeOut ease 0.6s; }

.loader, .loader:before, .loader:after {
  border-radius: 50%; }

.loader {
  color: #50BF77;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:before, .loader:after {
  position: absolute;
  content: ''; }

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

.loader-white, .loader-white:before, .loader-white:after {
  border-radius: 50%; }

.loader-white {
  color: #FFFFFF;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader-white:before, .loader-white:after {
  position: absolute;
  content: ''; }

.loader-white:before {
  width: 5.2em;
  height: 10.2em;
  background: #50BF77;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader-white:after {
  width: 5.2em;
  height: 10.2em;
  background: #50BF77;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

.scroll::-webkit-scrollbar {
  width: 5px; }

.scroll::-webkit-scrollbar-track {
  background: #FFFBF5; }

.scroll::-webkit-scrollbar-thumb {
  background: #5bd988;
  border-radius: 5px; }

.scroll::-webkit-scrollbar-thumb:hover {
  background: #5bd988; }
